{% extends 'base.html' %}

{% block title %}Student List{% endblock %}

{% block content %}
<!-- TODO: Student list template (Topics 1-40):
     1. Display all students (Topics 38: Model.objects.all())
     2. For each student, show:
        - Name
        - Roll No
        - Email
        - GPA
        - Links to detail view using {% url %} tag (Topics 15-16)
     3. Link using reverse URL name (Topics 6, 11-18)
     4. Multiple URL patterns: by ID and by roll number (Topics 3-5)
     5. Bootstrap table styling
-->
{% endblock %}
