{% extends 'base.html' %}

{% block title %}{{ student.name }} - Details{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-10 col-lg-8">
        <!-- TODO: Add header with back link to index -->
        
        <!-- TODO: Detailed Student Card (Topics 61-65):
             - Header with name and status badge
             - Main Section:
               * Name
               * Email with mailto link
               * Major
               * Age
               * GPA (color-coded)
               * Status with badge
               * Enrollment date formatted
               * Created date formatted
             - Footer buttons:
               * "Edit" button (btn-warning)
               * "Delete" button (btn-danger)
               * "Back" button (btn-secondary)
               * All with icons
        -->
    </div>
</div>
{% endblock %}
