{% extends 'base.html' %}

{% block title %}Add Student{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
        <!-- TODO: Add header with title and back link -->
        
        <!-- TODO: Student Form (Topics 56-60):
             - Form method POST
             - CSRF token
             - For each form field:
               * Label with required indicator
               * Input/Select with Bootstrap class (form-control/form-select)
               * Help text if provided
               * Error display if invalid
             - Submit button: "Add Student" (btn-primary)
             - Cancel button: Back to index (btn-secondary)
        -->
    </div>
</div>
{% endblock %}
