{% extends 'base.html' %}

{% block title %}Add Student{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
        <h1 class="mb-4">Add Student</h1>
        
        <!-- TODO: Create student form template (Topics 35-40):
             1. Form method POST
             2. {% csrf_token %} (Topic 39-40)
             3. For each form field:
                - {{ form.field.label_tag }}
                - {{ form.field }} (Topic 46-47)
                - {{ form.field.errors }} (Topic 57)
             4. Submit button
             5. Bootstrap form-group and form-control classes
        -->
    </div>
</div>
{% endblock %}
