{% extends 'base.html' %}

{% block title %}Product List{% endblock %}

{% block content %}
<!-- TODO: Create product list template (Topics 6, 23-30, 36-40):
     1. Extends base.html ({% extends %})
     2. Override title block
     3. Override content block with:
        - Heading: "Product List"
        - Table or list display of products
        - For each product, show:
          * code
          * name
          * category
          * price (formatted with currency)
          * Link to detail view ({% url %})
        - Template tags: {% for %}, {% if %}, {% url %}
        - Filters: |floatformat for price
        - Empty state if no products
     4. Bootstrap styling:
        - Table classes
        - Button styling
        - Responsive layout
-->
{% endblock %}
